/*
 * @see {@link https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/}
 */
body {
	box-sizing: border-box;
	font-family: $font-default;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	height: 100%;
	height: -webkit-fill-available;
	overflow: hidden;
	position: relative;
}
