.o-structure {
	display: flex;

	/* -- MODIFIERS --------------------------------------------------------- */
	&--grow {
		flex-grow: 1;
	}

	&--vertical {
		flex-direction: column;
	}

	&--vertical-center {
		align-items: center;
	}
}