.c-header {
	border-bottom: 1px solid #e8e8e8;
	box-shadow: 0 0 1em #e8e8e8;
	max-width: 100vw;
	padding: getSpacing(1) getSpacing(.5);


	/* -- ELEMENTS ---------------------------------------------------------- */
	&__subtitle,
	&__title {
		@include truncate-text();
		text-align: center;
	}

	&__primary {
		grid-area: primary;
	}

	&__secondary {
		grid-area: secondary;
	}

	&__subtitle {
		display: block;
		grid-area: subtitle;
		font-size: .75em;
		line-height: 1.25;
		margin-top: getSpacing(.25);
	}

	&__title {
		grid-area: title;
		line-height: 1;
		margin: 0;
	}


	/* -- STATE CLASSES ----------------------------------------------------- */
	&--has-action {
		align-items: center;
		display: grid;
		grid-gap: 0 10px;
		grid-template-areas:
			"secondary title primary";
		grid-template-columns: 70px auto 70px;
		padding: getSpacing(.75) getSpacing(.5);

		&.c-header--has-subtitle {
			grid-template-areas:
				"secondary title primary"
				"secondary subtitle primary";
		}
	}

	&--has-subtitle {
		padding: getSpacing(.5);
	}

	&--no-shadow {
		box-shadow: none;
	}
}
