@import
	"01-settings/color",
	"01-settings/font-face",
	"01-settings/font-family",
	"01-settings/global",
	"01-settings/state-classes";

@import
	"02-tools/functions/spacing",
	"02-tools/mixins/mq",
	"02-tools/mixins/truncate-text";

@import
	"03-generic/box-sizing";

@import
	"04-elements/body",
	"04-elements/heading",
	"04-elements/html",
	"04-elements/list",
	"04-elements/main",
	"04-elements/page",
	"04-elements/paragraph",
	"04-elements/section";

@import
	"05-objects/fly-in",
	"05-objects/structure",
	"05-objects/view";

@import
	"06-components/background",
	"06-components/button",
	"06-components/check-button",
	"06-components/content-container",
	"06-components/dialog",
	"06-components/fly-in-dialog",
	"06-components/footer",
	"06-components/header",
	"06-components/leaderboard",
	"06-components/input",
	"06-components/message",
	"06-components/number-pad",
	"06-components/radio-button",
	"06-components/score-button",
	"06-components/slider",
	"06-components/toggle-button",
	"06-components/view";

.c-winner-dialog {
	align-items: center;
	display: flex;
	flex-direction: column;

	&__icon {
		font-size: 4em;
		line-height: 1;
		margin-bottom: getSpacing(2);
	}

	&__text {
		font-size: 1.25em;
		text-align: center;
	}

	&__button {
		margin-top: getSpacing(1);
	}
}

.u-margin-bottom--half {
	margin-bottom: getSpacing(.5);
}
