@font-face {
	font-family: "PlayFair Display";
	src: url("../static/font/PlayfairDisplay.ttf") format("truetype");
}

@font-face {
	font-family: "Source Sans Pro";
	font-weight: normal;
	src: url("../static/font/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Source Sans Pro";
	font-weight: bold;
	src: url("../static/font/SourceSansPro-Bold.ttf") format("truetype");
}
