<div class="c-number-pad__display js-number-entry__display"></div>
<article class="js-number-entry__number-pad c-number-pad">
	<button class="c-button c-button--primary-outline c-number-pad__button" type="button" data-value="1">1</button>
	<button class="c-button c-button--primary-outline c-number-pad__button" type="button" data-value="2">2</button>
	<button class="c-button c-button--primary-outline c-number-pad__button" type="button" data-value="3">3</button>
	<button class="c-button c-button--primary-outline c-number-pad__button" type="button" data-value="4">4</button>
	<button class="c-button c-button--primary-outline c-number-pad__button" type="button" data-value="5">5</button>
	<button class="c-button c-button--primary-outline c-number-pad__button" type="button" data-value="6">6</button>
	<button class="c-button c-button--primary-outline c-number-pad__button" type="button" data-value="7">7</button>
	<button class="c-button c-button--primary-outline c-number-pad__button" type="button" data-value="8">8</button>
	<button class="c-button c-button--primary-outline c-number-pad__button" type="button" data-value="9">9</button>
	<button class="c-button c-button--primary-outline c-number-pad__button" type="button" data-value="0">0</button>
	<button class="c-button c-button--primary-outline c-button--no-border c-number-pad__button" type="button" data-action="backspace">⌫</button>
	<button class="c-button c-button--primary-outline c-button--no-border c-number-pad__button" type="button" data-action="clear">clr</button>
</article>