<article class="o-view js-player-select" hidden>
	<header class="js-header o-view__header c-header">
		<h1 class="js-header__title c-header__title">Round start</h1>
	</header>
	<div class="o-view__content">
		<p class="c-message c-message--informative">
			Select which player will play the first tile in the round.
		</p>
		<ol class="js-player-select__list c-player-list">

		</ol>
		<p class="js-message c-message c-message--warning" id="warning-select-starting-player" hidden>
			Please select the player who will play the first tile of the round.
		</p>
	</div>
	<article class="js-footer o-view__footer c-footer">
		<button type="button" class="js-footer__secondary c-button c-button--secondary">Back</button>
		<button type="button" class="js-footer__primary c-button c-button--primary">Next</button>
	</article>
</article>
