<article class="o-view js-game-start" hidden>
	<header class="js-header o-view__header c-header">
		<h1 class="js-header__title c-header__title">Setup players</h1>
	</header>
	<div class="js-player-input__form o-view__content">
		<p class="c-message c-message--informative">
			Please provide the names of the players. To play the game at least two players are required.
		</p>
		<ol class="js-player-input">
			<li>
				<input class="c-input" id="player-1" type="text" value="Player 1">
			</li>
			<li>
				<input class="c-input" id="player-2" type="text" value="Player 2">
			</li>
			<li>
				<input class="c-input" id="player-3" type="text">
			</li>
			<li>
				<input class="c-input" id="player-4" type="text">
			</li>
			<li>
				<input class="c-input" id="player-5" type="text">
			</li>
			<li>
				<input class="c-input" id="player-6" type="text">
			</li>
		</ol>
		<p class="js-message c-message c-message--warning" id="warning-required-players" hidden>
			Please provide at least two names in order to start the game.
		</p>
	</div>
	<article class="js-footer o-view__footer c-footer">
		<span></span>
		<button class="js-footer__primary c-button c-button--primary">Next</button>
	</article>
</article>
