<article class="js-round o-view c-view" hidden>
	<header class="js-header o-view__header c-header c-header--has-subtitle">
		<h1 class="js-header__title c-header__title">Play round</h1>
		<span class="js-header__subtitle c-header__subtitle">turn in progress</span>
	</header>
	<div class="js-turn-input o-view__content">
		<article class="js-game-summary"></article>
		<section>
			<div class="js-turn-input__number-entry">
				<include src="./partials/number-entry.html"></include>
			</div>
		</section>

		<section>
			<div class="js-turn-input__played-triple-container" style="margin-top: 20px;">
				<input type="checkbox" value="1" id="played-triple" class="js-turn-input__played-triple c-check-button__input">
				<label for="played-triple" class="c-check-button__button">
					The played tile is a triple, all sides have the same value.
				</label>
			</div>
		</section>

		<section class="js-turn-input__drawn-tiles">
			<h3>Tiles drawn</h3>
			<div class="o-structure o-structure--space-between o-structure--single-gap">
				<div class="o-structure--grow">
					<input type="checkbox" value="1" id="tiles_drawn_1" class="c-toggle-button__input">
					<label for="tiles_drawn_1" class="c-toggle-button__button">1 tile</label>
				</div>
				<div class="o-structure--grow">
					<input type="checkbox" value="2" id="tiles_drawn_2" class="c-toggle-button__input">
					<label for="tiles_drawn_2" class="c-toggle-button__button">2 tiles</label>
				</div>
				<div class="o-structure--grow">
					<input type="checkbox" value="3" id="tiles_drawn_3" class="c-toggle-button__input">
					<label for="tiles_drawn_3" class="c-toggle-button__button">3 tiles</label>
				</div>
			</div>
		</section>

		<section class="js-turn-input__completed-shape">
			<h3>Completed shape</h3>
			<div class="o-structure o-structure--space-between o-structure--single-gap">
				<div class="o-structure--grow">
					<input type="checkbox" value="bridge" id="completed-shape_bridge" class="c-toggle-button__input">
					<label for="completed-shape_bridge" class="c-toggle-button__button" style="height: 100%;">
						<p class="o-structure o-structure--vertical o-structure--vertical-center">
							<img class="c-toggle-button__image" src="static/images/bridge.png" alt=""> Bridge
						</p>
					</label>
				</div>
				<div class="o-structure--grow">
					<input type="checkbox" value="double-sided" id="completed-shape_double-sided" class="c-toggle-button__input">
					<label for="completed-shape_double-sided" class="c-toggle-button__button" style="height: 100%;">
						<p class="o-structure o-structure--vertical o-structure--vertical-center">
							<img class="c-toggle-button__image" src="static/images/double-sided.png" alt=""> Double sided
						</p>
					</label>
				</div>
				<div class="o-structure--grow">
					<input type="checkbox" value="hexagon" id="completed-shape_hexagon" class="c-toggle-button__input">
					<label for="completed-shape_hexagon" class="c-toggle-button__button" style="height: 100%;">
						<p class="o-structure o-structure--vertical o-structure--vertical-center">
							<img class="c-toggle-button__image" src="static/images/hexagon.png" alt=""> Hexagon
						</p>
					</label>
				</div>
			</div>
		</section>
	</div>
	<article class="js-footer o-view__footer c-footer">
		<button type="button" class="js-footer__secondary c-button c-button--secondary">Leaderboard</button>
		<button type="button" class="js-footer__primary c-button c-button--primary">Play</button>
	</article>
</article>
